<% @page_title = "All Admin User" %>

<%= link_to("<< Back to Menu", admin_path, class: 'back-link') %>

<div class="admin-user index">
  <h2>Admin Users</h2>

  <%= image_tag('plus_sign.png', size: '11x11', alt: '+') %>
  <%= link_to("Add New Admin User", new_admin_user_path, class: 'action new') %>

  <div><%= pluralize(@adminusers.size, 'admin user') %> found</div>

  <table class="listing" summary="Admin User list">
    <tr class="header">
      <th>Username</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <% @adminusers.each do |adminuser| %>
    <tr>
      <td><%= adminuser.username %></td>
      <td><%= adminuser.name %></td>
      <td><%= mail_to(adminuser.email) %></td>
      <td class="actions">
        <%= link_to("Edit", edit_admin_user_path(adminuser), class: 'action edit') %>
        <%= link_to("Delete", delete_admin_user_path(adminuser), class: 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
